<%- include("partials/header.ejs") %>

    <div class="background-image">
        <img src="/images/background.jpg" alt="Background">
    </div>

    <div class="content-wrapper">
        <div class="outer-div">
            <h1>Search Results</h1>

            <% if(shows.length>0) { %>
                <div class="show-grid">

                    <% for(let i=0;i<shows.length;i++) { let show=shows[i]; %>
                        <div class="show-card">

                            <h2>
                                <%=show.name%>
                            </h2>

                            <% if(show.image) { %>
                                <div class="img-wrapper">
                                    <img src="<%= show.image.original || show.image.medium %>" alt="Preview">
                                    
                                </div>

                                
                            <% } else { %>
                                <div class="img-placeholder"></div>
                            <% } %>


                                    <p class="summary">
                                        <%= show.summary ? show.summary.replace(/<[^>]+>/g, '').slice(0, 100) + '...' : "No Description Available." %>
                                    </p>

                                    <a href="/show/<%= show.id %>" class="btn2">Read More</a>


                                    <p><strong>Genres:</strong>
                                        <%= show.genres %>
                                    </p>

                                    <a href="/show/<%=show.id%>" class="btn">View Details</a>
                                    
                        </div>
                    <% } %>

                </div>
                    <% } else { %>
                            <div class="img-placeholder"></div>
                    <% } %>

        </div>
    </div>


    <%- include("partials/footer.ejs") %>